@media only screen and (min-width: 1025px) {
  #domain_list {
    min-height: 49vh;
  }

  .floating_contact {
    display: none;
  }

}

@media only screen and (max-width: 1025px) {
  body {
    max-width: 100%;
    position: relative;
  }


  .hamburger {
    width: 30px;
    height: 30px;
    z-index: 9999;
    position: relative;
    margin-left: 25px;
    margin-top: 1px;
  }

  .hamburgerTop,
  .hamburgerMiddle,
  .hamburgerBottom {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    z-index: 999;
    background: $blue;
  }


  .hamburgerTop,
  .hamburgerBottom {
    transition: transform 0.4s ease, margin-top 0.3s ease 0.4s;
  }

  .hamburgerMiddle {
    transition: opacity 0.2s ease 0.5s;
  }

  /* Margin between the layers */
  .hamburgerTop {
    margin-top: 7px;
  }

  .hamburgerMiddle {
    margin-top: 15px;
  }

  .hamburgerBottom {
    margin-top: 23px;
  }

  .hamburgerTop.open,
  .hamburgerBottom.open {
    width: 30px;
    transition: margin-top 0.3s ease, transform 0.4s ease 0.3s;
  }

  .hamburgerTop.open {
    transform: rotate(45deg);
    margin-top: 15px;
  }

  .hamburgerMiddle.open {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
  }

  .hamburgerBottom.open {
    transform: rotate(-45deg);
    margin-top: 15px;
  }


  #header {
    padding: 25px 0;

    svg {
      max-width: 100%;
    }
  }

  #wrapper-navbar {

    #navbarNavDropdown {
      background: $white;
      z-index: 99;
      visibility: hidden;
      position: fixed;
      top: 110px;
      left: 0;
      width: 100%;
      min-height: 100vh;
      transform: translateX(200%);
      transition: all .25s ease-in-out;

      #main-menu {
        max-width: 720px;
        margin: 0 auto;
        padding: 50px 15px;

        .menu-item {
          overflow: hidden;

          .nav-link {
            width: max-content;
            padding: 0 0 5px 0;
            margin: 15px 0;
            transform: translateY(-200%);

          }
        }
      }

      &.open {
        visibility: visible;
        transform: translateX(0);

        #main-menu {
          .menu-item {
            .nav-link {
              transform: translateY(0);
              transition: all .3s ease-in-out .25s;
            }
          }
        }
      }
    }

    &.sticky {

      #navbarNavDropdown {
        top: 49px;

        #main-menu {

          .menu-item {

            .nav-link {
              padding: 0 0 5px 0;
              margin: 15px 0;
            }
          }
        }
      }
      .language_switcher {
        padding: 20px 0;


      }
    }
  }
  .language_switcher {
    svg {
      margin-top: 9px;
    }

    .languages {
      left: -75px;
      z-index: 100;
    }
  }

  #homepage_header {
    .words {

      .word {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  #intro {
    .col_left {
      text-align: center;

      .content {
        max-width: unset;
      }
    }

    .info_row {
      justify-content: center;
      margin: 0 auto 25px auto;

      .info_col {
        margin-bottom: 15px;
      }
    }

    .buttons {
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  #whatwedo {
    .block {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #project_header {
    .details {
      padding-left: 15px;
    }
  }

  #project_slider {
    .project_slider {
      img {
        height: 300px;
      }
    }
  }

  #project_content {
    .image {
      height: 300px;

      &.top {
        margin-bottom: 15px;
      }
    }
  }

  #subpage_header {
    margin-top: 0;

    .white_shadow_box {
      margin-top: 25px;
      box-shadow: unset;
      padding: 0;
      height: auto;
    }

    .col_right {
      order: -1;

      .letter {
        width: auto;
        height: 325px;
        margin-top: -352px;
        margin-bottom: 0;
      }
    }
  }

  #about {
    margin-top: 50px;

    img {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  #second {
    margin-top: 0;

    .col_left {
      &::before {
        display: none;
      }

      .gray_box {
        background: rgba(41, 52, 108, 0.04);
      }
    }

    .col_right {
      img {
        width: 100%;
      }
    }
  }

  #project_header {
    .image {
      max-width: unset;
    }
  }

  #project_slider {
    .container {
      max-width: 100%;
      padding: 0;
    }

    .arrows {
      margin-left: 50px;
    }
  }

  #project_content {
    .content {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }

  #single_vacature_header {
    margin-top: 0;
    height: 350px;
  }

  #news {
    padding-top: 50px;

    .news_post {
      margin-bottom: 0!important;
      border: none;
    }
  }

  #contact_header {
    margin-top: 50px;

    .col_left {
      .image {
        height: 350px;
      }
    }
  }


  footer {
    margin-top: 50px;

    .logo_col {
      order: 3;
    }
  }
}

@media only screen and (max-width: 650px) {

  .hamburger {
    margin-right: 25px;
  }

  #homepage_header {
    .header_slider {
      img {
        height: calc(68vh - 144px);
      }
    }
  }

  #homepage_header {
    .words {
      display: block;

      .word {

      }
    }
  }
}